@model IEnumerable<GroupCourseWork.Models.Purchase>

@{
    ViewData["Title"] = "Purchase";
}
<style>
    .action-head {
        text-align: center;
    }

<style>
    .action-head {
        text-align: center;
    }

    a {
        color: white;
    }
</style>
<h1>Index</h1>


<p>
    <button type="button" class="btn btn-primary"><a asp-action="Create">Create New</a></button>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Purchase Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
