@model IEnumerable<GroupCourseWork.ViewModels.ProductStockViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="/Report/StockListReport" method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <select name="SelectedProduct" class="form-control form-select form-select-lg" id="StockListSelect">
                @{
                    @foreach (var item in Model)
                    {
                        <option value="@item.ProductId">@item.ProductName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        
    </div>
    
</form>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a href="/Products/Details/@item.ProductId" class="btn btn-info">View Detail</a>
            </td>
        </tr>
        }
    </tbody>
</table>
