@model IEnumerable<GroupCourseWork.Models.Product>

@{
    ViewData["Title"] = "Product";
}

<style>
    .action-head {
        text-align: center;
    }

    a {
        color: white;
    }
</style>

<h1>Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th width="20%">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th width="30%">
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th  width="20%">
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th width="20%" class="action-head">Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="table-primary">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
